<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- Checks if the user is logged in -->
      {% if loggedIn %}
      <!-- Welcomes the user -->
        <h1>Welcome, {{ user.first_name}} {{user.last_name}}</h1>
        <form style="padding-bottom:1em;" method="POST">
          {% csrf_token %}
          <input type="hidden" name="logout" value="logout"></input>
          <button type="submit" class="btn btn-danger">Logout</button>
        </form>
        <!-- Including navigation bar if the user is signed in being able to access
        the stocks and funds page -->
        <!-- Link to other pages doesn't work yet -->

      {% else %}
        <h1>Welcome!</h1>

        <form style="padding-bottom:1em;" method="POST">
          {% csrf_token %}
          <!-- Username form -->
          <div class="form-group">
            <label for="enterUname">Username</label>
            <input type="text" class="form-control" name="enterUname" id="enterName"/>
          </div>
          <!-- Password form -->
          <div class="form-group">
            <label for="enterPwd">Password</label>
            <input type="password" class="form-control" name="enterPwd" id="enterPwd"/>
          </div>
          <!-- Login form -->
          <button type="submit" class="btn btn-danger">Login</button>
          <a class="btn btn-danger" href="signup/">Signup</a>
        </form>
        <!-- If the user does not have a valid login and password, then give
        then the option to create a username and password -->

      {% endif %}
    </div>
  </body>
</html>
