<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- Basic test for template -->
      <h1>Welcome to the home page!</h1>
      <!-- Checks if the user is logged in -->

      {% if loggedIn %}
      <!-- Welcomes the user -->
        <h2>Welcome, {{ user.fName}} {{user.lName}}</h2>
        <form style="padding-bottom:1em;" method="POST">
          {% csrf_token %}
          <input type="hidden" name="logout" value="logout"></input>
          <button type="submit" class="btn btn-danger">Logout</button>

        </form>

      {% else %}

        <form style="padding-bottom:1em;" method="POST">
          {% csrf_token %}
          <!-- Username form -->
          <div class="form-group">
            <label for="enterUname">Username</label>
            <input type="text" class="form-control" name="enterUname" id="enterName"/>
          </div>
          <!-- Password form -->
          <div class="form-group">
            <label for="enterPwd">Password</label>
            <input type="password" class="form-control" name="enterPwd" id="enterPwd"/>
          </div>

          <button type="submit" class="btn btn-danger">Login</button>
        </form>
      {% endif %}

    </div>
  </body>
</html>
