<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- Basic test for template -->
      <h1>{{ user.first_name}}'s Personalized Stock List</h1>
        <div class="row border border-dark">
          <!-- Testing the Fake Data Set for Apple. Inc stock -->
          <form style="padding-bottom:1em;" method="POST">
            {% csrf_token %}
            <table class="table">
              <thread class="thread-dark">
                <tr>
                  <th scope="col">Data Type:</th>
                  <th scope="col">Data Value:</th>
                </tr>
              </thread>
              <tbody>
                <tr>
                  <th scope="row"># of Shares</th>
                  <td><div class="form-group">
                    <input type="number" class="form-control" name="newShares" id="newShares"/>
                  </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Company</th>
                  <td><div class="form-group">
                    <input type="text" class="form-control" name="Company" id="Company"/>
                  </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Ticker on NYSE</th>
                  <td><div class="form-group">
                    <input type="text" class="form-control" name="Ticker" id="Ticker"/>
                  </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">PE ratio</th>
                  <td><div class="form-group">
                    <input type="number" step="any" class="form-control" name="PE" id="PE"/>
                  </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">EPS (Earnings/share)</th>
                  <td><div class="form-group">
                    <input type="number" step="any" class="form-control" name="newEPS" id="newEPS"/>
                  </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Div. Yield</th>
                  <td><div class="form-group">
                    <input type="number" step="any" class="form-control" name="newYield" id="newYield"/>
                  </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Trading Volume (in millions)</th>
                  <td><div class="form-group">
                    <input type="number" step="any" class="form-control" name="newVolume" id="newVolume"/>
                  </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Market Cap (in millions)</th>
                  <td><div class="form-group">
                    <input type="number" step="any" class="form-control" name="newCap" id="newCap"/>
                  </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
        <br>

        {% if uStocks %}
          {% for ustock in uStocks %}
            <div class="row border border-dark">
              <table class="table">
                <thread class="thread-dark">
                  <tr>
                    <th scope="col">Data Type:</th>
                    <th scope="col">Data Value:</th>
                  </tr>
                </thread>
                <tbody>
                  <tr>
                    <th scope="row">Company</th>
                    <td>{{ustock.stockInfo.fullName}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Ticker on NYSE</th>
                    <td>{{ustock.stockInfo.sTicker}}</td>
                  </tr>
                  <tr>
                    <th scope="row">PE ratio</th>
                    <td>{{ustock.stockInfo.pEratio}}</td>
                  </tr>
                  <tr>
                    <th scope="row">EPS (Earnings/share)</th>
                    <td>{{ustock.stockInfo.EPS}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Div. Yield</th>
                    <td>{{ustock.stockInfo.Yield}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Trading Volume (in millions)</th>
                    <td>{{ustock.stockInfo.Volume}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Market Cap (in millions)</th>
                    <td>{{ustock.stockInfo.marketCap}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br>
          {% endfor %}
        {% else %}
          <div class="row border border-dark">
            <div class="container">There is no other stock data available</div>
          </div>
          <br>
        {% endif %}
    </div>
  </body>
</html>
