<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- Basic test for template -->
      <h1>Stock Data</h1>
      <!-- Fake Data test -->
      {% for stock in sName %}
      {{stock.fullName}}
      {{stock.sTicker}}
      {% endfor %}
    </div>
    <!-- Will add a feature where if the user is logged in, he can press some
    sort of submit button and will be able to access in depth data about this
    particular stock. The default view will only show the chart of the stock. If
    the user is logged in, then there will be additional data that shows up about
    the stock such as the price, p/e ratio, and etc. --> 

  </body>
</html>
