<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- Basic test for template -->
      <h1>{{ user.first_name}}'s Personalized Stock List</h1>
      {% for stock in sName %}
        <div class="row border border-dark">
          <!-- Testing the Fake Data Set for Apple. Inc stock -->
          <form style="padding-bottom:1em;" method="POST">
            {% csrf_token %}
            <table class="table">
              <thread class="thread-dark">
                <tr>
                  <th scope="col">Data Type:</th>
                  <th scope="col">Data Value:</th>
                </tr>
              </thread>
              <tbody>
                <tr>
                  <th scope="row">Company</th>
                  <td><div class="form-group">
                    <input type="text" class="form-control" name="Company" id="Company"/>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Ticker on NYSE</th>
                  <td><div class="form-group">
                    <input type="text" class="form-control" name="Ticker" id="Ticker"/>
                  </td>
                </tr>
                <tr>
                  <th scope="row">PE ratio</th>
                  <td><div class="form-group">
                    <input type="number" class="form-control" name="PE" id="PE"/>
                  </td>
                </tr>
                <tr>
                  <th scope="row">EPS (Earnings/share)</th>
                  <td><div class="form-group">
                    <input type="number" class="form-control" name="newEPS" id="newEPS"/>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Div. Yield</th>
                  <td><div class="form-group">
                    <input type="number" class="form-control" name="newYield" id="newYield"/>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Trading Volume (in millions)</th>
                  <td><div class="form-group">
                    <input type="number" class="form-control" name="newVolume" id="newVolume"/>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Market Cap (in millions)</th>
                  <td><div class="form-group">
                    <input type="number" class="form-control" name="newCap" id="newCap"/>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
